<!--objeto erros passado no arquivo admin.js-->
{{#each erros}}
    <!--para cada erro exibir o atributo texto-->
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<h3>Nova Categoria</h3>
<div class="card"> <!--cria uma borda ao redor da div-->
    <div class="card-body"><!--configura o espaçamento interno do card-->
        <form action="/admin/categorias/nova" method="POST">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" placeholder="Nome da categoria" class="form-control"/><!--configura o input-->
            <label for="slug">Slug:</label>
            <input type="text" id="slug" name="slug" placeholder="Slug da categoria" class="form-control"/>
            <br/>
            <a href="/admin/categoria/add/nova"><button class="btn btn-success">Criar Categoria</button></a>
        </form>
    </div>
</div>