<div class="text-right"><small>Data Publicação: {{postagem.data}}</small></div>
<hr>
<div class="card">
  <div class="card-header text-center">
    <h4>{{postagem.titulo}}</h4>
  </div>
  <div class="card-body">
    <p class="card-text">{{postagem.conteudo}}</p>
  </div>
</div>